body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}


/*contenedor-Banderas banderas  info-banderas*/

#countries-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.contenedor-Banderas {
    display: flex;
}

.banderas {
    display: flex;
    flex-direction: column;
}

img {
    width: 250px;
    height: 150px;
}

.info-banderas {
    display: none;
    position: fixed;
    background-color: white;
    width: 400px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    font-size: 15px;
    z-index: 1;
}

p
/*.info-banderas {
    position: absolute;
    display: none;
    background-color: white;
    margin-top: 200px;
    z-index: 1001;
}*/